

<div class= "container">
	<div class="row">
	<div class="col-md-3 image"><img src="assets/images/profile.png"  alt=""></div>
	<div class="col-md-8 data">
		<div class="row">
			<div class="col-sm-2"><h6>Market</h6></div>
			<div class="col-sm-8">Fill in who are your customers</div>
		</div>
		<div class="row">
			<div class="col-sm-2"><h6>Pain</h6></div>
			<div class="col-sm-8">What is the pain statement you are trying to solve for them?</div>
		</div>
		<div class="row lastrow">	
			<div class="col-sm-2"><h6>Benefit</h6></div>
			<div class="col-sm-7">What is the benefit that will match the pain statement?</div>
			<div class="col-sm-3 "><button type="button" class="btn btn-outline-secondary ">Edit Profile</button></div>
		</div>
	</div>
	</div>
</div>