
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="container">



<div class="sentence row mx-auto text-center">
		
	<h4 class="font-weight-light">How is  <b class="font-weight-bold"> VenturX  &nbsp;</b><i class=" align-baseline fas fa-1.5x fa-pencil-alt"></i>&nbsp; doing today?</h4><p class="dash font-weight-light text-secondary">  &nbsp; Check dashboard</p>
   
</div>


<div class="guages mx-auto text-center row">
	
	<circle-progress
	[responsive]='true'
  [percent]="27"
  [titleFontSize]='35'
  [subtitleFontSize]='15'
  [unitsFontSize]='15'
  [radius]="100"
  [space]="-16"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="16"
  [outerStrokeColor]="'#FCB36A'"
  [innerStrokeColor]="'#E0DFDE'"
  [animation]="true"
  [animationDuration]="300"
  [subtitle]="'Product'"
></circle-progress>


<circle-progress
[responsive]='true'
  [percent]="25"
  [titleFontSize]='35'
  [subtitleFontSize]='15'
  [unitsFontSize]='15'
  [maxPercent]="100"
  [radius]="100"
  [space]="-16"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="16"
  [outerStrokeColor]="'#ED391A'"
  [innerStrokeColor]="'#E0DFDE'"
  [animation]="true"
  [units] = "'months'"
  [animationDuration]="300"
  [subtitle]="'Runway'"
  [title] = "'3'"
></circle-progress>


<circle-progress
[responsive]='true'
  [percent]="24"
  [titleFontSize]='35'
  [subtitleFontSize]='15'
  [unitsFontSize]='15'
  [radius]="100"
  [space]="-16"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="16"
  [outerStrokeColor]="'#FCB36A'"
  [innerStrokeColor]="'#E0DFDE'"
  [animation]="true"
  [animationDuration]="300"
   [subtitle]="'Conversion'"

></circle-progress>

<circle-progress
[responsive]='true'
  [percent]="100"
  [titleFontSize]='35'
  [subtitleFontSize]='15'
  [unitsFontSize]='15'
  [radius]="100"
  [space]="-16"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="16"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
   [subtitle]="'Engagement'"

></circle-progress>
</div>

<div class="row-md-12">
	<div class="btnSentence alert alert-warning " role="alert">
   <p class="font-weight-bold ">Small Conversion? &nbsp;</p> <p>Learn what can you do to &nbsp; </p><p class="font-weight-bold ">rise that conversion</p>
</div>
</div>
<div class="row-md-12"><div class=" btnSentence alert alert-danger" role="alert">
 <p class="font-weight-bold">Low credit score? &nbsp;</p> <p class="font-weight-bold">Try this &nbsp;</p><p >to get more </p>
</div></div>
</div>

